/* style.css */

* {
     box-sizing: border-box; 
}

.body_2 {
    text-align: center;
    display: flex;
    margin: 0;
    padding:0;
}

.text{
    position: relative;
    top: 170px;
}

.rejouer {
    position: absolute;
    top: 90%;
    left: 20%;
    text-decoration: none;
    color: black;
}

.rejouer:hover{
    color: white
}

.Baniere_gauche {
    background-color:cornflowerblue;
    width: 50%;
    height: 100vh;
    float: left;
}

.Baniere_droite {
    background-color: rgb(247, 247, 247);
    width: 50%;
    height: 100vh;
}


